*{
    padding:0;
    margin:0;
}

h1, h2, h3{
    cursor: default;
}

a{
    text-decoration: none;
}

#wrapper{
    margin: auto;
    justify-content: flex-start;
    background-color: gray;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: rgb(218, 0, 0);
    width: 100%;
    font-size: 2vw;
    height: 20%;
}


#showcase{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
}

.columns, .column{
    margin: 10px;
    text-align: center;
}

.columns h3{
    color: rgb(218, 0, 0);
    padding: 10px;
    background-color: black;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 200ms, color 200ms;
}

.column h2{
    color: rgb(218, 0, 0);
    padding: 10px;
    background-color: black;
    border-radius: 25px;
    cursor: default;
    transition: background-color 200ms, color 200ms;
}

.columns h3:hover{
    background-color: rgb(97, 17, 17);
    color: black;
}

.columns h3:active{
    background-color: rgb(97, 17, 17);
    color: black;
}

.columns img, .column img{
    height: 300px;
}

.info{
    width: 50%;
}

.info p span{
    color: rgb(196, 0, 0);
}

#backBtn{
    padding: 10px 15px;
    background-color: transparent;
    border:none;
    border-radius: 25px;
    border: 1px solid rgb(196, 0, 0);
    outline:none;
    color: rgb(196, 196, 196);
    font-size: 12pt;
    cursor: pointer;
}
@media only screen and (max-width: 480px){
    #showcase{
        display: none;
    }

    #wrap{
        flex-wrap: nowrap;
        flex-direction: column;
        height: fit-content;
    }

    body{
        background-color: gray;
    }
      
    #header h1{
        text-transform: uppercase;
        letter-spacing: 15px;
        font-size: 16pt;
    }
    
    #header p{
        color: rgb(77, 77, 77);
        font-size: 10pt;
    }

    .info{
        width: 100%;
        padding: 5px;
    }

    .info p{
        font-size: 10pt;
    }

}

@media only screen and (min-width: 481px){
    body{
        background-color: gray;
    }

    #wrapper{
        width: 100%;
    }
    #showcase{
        display: none;
    }

    #wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: fit-content;
    }
}

@media only screen and (min-width: 1000px){
    #header h1{
        text-transform: uppercase;
        letter-spacing: 25px;
    }
    
    #header p{
        color: rgb(77, 77, 77);
        font-size: 12pt;
    }
    #showcase{
        display: none;
    }

    #wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: fit-content;
    }
}