<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Dashboard</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Pattaya" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="wrap">
        <div class="header">
            <img src="/img/mastersoftheuniverse.jpg" alt="">
            <ul>
                <li><a href="/masters">HOME</a></li>
                <li><a href="/masters/new">NEW</a></li>
            </ul>
        </div>
        <div class="showcase">
            <div>
                <h1>List of current Masters:</h1>
                <ol>
                    <% for (var m in masters) { %>
                    <li><a href="masters/<%= masters[m]._id %>"><%= masters[m].name %></a></li>
                    <% } %>
                </ol>
                
            </div>
        </div>
    </div>
</body>

</html>