<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Dashboard</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Pattaya" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="wrap">
        <div class="header">
            <img src="/img/mastersoftheuniverse.jpg" alt="">
            <ul>
                <li><a href="/masters">HOME</a></li>
                <li><a href="/masters/new">NEW</a></li>
            </ul>
        </div>
        <div class="showcase">
            <div>
                <h1>Name: <%= master.name %></h1>
                <h4>Super Power: <%= master.superPower %></h4>
                <p style="margin-top: 20px;"><a href="/masters/edit/<%= master._id %>" class="btn">Edit</a></p>
                <br>
                <p style="margin-top: 20px;"><a href="/masters/delete/<%= master._id %>" class="btn">Delete</a></p>
            </div>
        </div>
    </div>
</body>

</html>